[submodule "gsl"]
	path = remoteProjects/gsl
	url = https://github.com/microsoft/GSL.git

[submodule "doctest"]
	path = remoteProjects/doctest
	url = https://github.com/onqtam/doctest.git
	
[submodule "UtilityLibrary"]
	path = remoteProjects/UtilityLibrary
	url = https://github.com/Zirafinu/UtilityLibrary.git
